##########client.json.j2##########

{
  "client": {
    "name": "{{ sensu_client_host }}",
    "address": "{{ sensu_client_ip }}",
    "keepalive": {
      "thresholds": {
        "warning": 21,
        "critical": 25
      },
      "handlers": [
	      "fmdaemon",
	      "email"
	    ]
    },
    "subscriptions": [
      "ms",
      "all"
    ]
  }
}